<h1>All foods</h1>

<% if @foods.any? %>

<ul>

  <% @foods.each do |food| %>
  <li><%= link_to "#{food.name}", food_path(food) %> 
<% end %>
  </ul>

<% else %>
<p>There are no foods to show.</p>
<% end %>
