/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
h1 {
  color: #F58300;
  font-style: italic;
  text-align: center;
  font-size: 80px;
  margin-bottom: 0px;
}

h2 {
  color: #F58300;
  font-style: italic;
  text-align: center;
  font-size: 50px;
}

h3 {
color: #F2C40A;
background-color: #865BF5;
text-align: center;
padding: 5px;
}

h4 {
  color: #3B096E;
  font-style: italic;
  font-weight: bolder;
  text-align: center;
  font-size: 22px;
}
h5 {
  color: #865BF5;
  font-size: 18px;
  text-align: center;
}

#review-list {
  color: #3B096E;
  font-size: 20px;
  text-align: center;
}

ul {
  list-style-type: none;
}

.col-md-6 {
  border: 10px color: black;
  margin-top: 0px;
  margin-left: 50px;
  padding: 100px;
  width: 250px;
}

.navbar {
  color: #865BF5;
  background-color: #F2C40A;
  padding: 5px;
}
